@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.chat-container {
  flex-direction: column-reverse;
  font-size: 1.2rem;
  height: 100vh; /* Set height to 100% of viewport height */
  width: 100vw;
  position: fixed; /* Position the container fixed on the viewport */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #000000; /* Example background color */
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  scroll-behavior: smooth;
  white-space: nowrap; /* Prevent wrapping of content */
  overflow: hidden; /* Hide any content that overflows */
}

.chat-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Chrome and Safari */
}

.other-message {
  padding: 5px 10px;
  margin-bottom: 5px;
  position: relative;
  color: #00ff00; /* Ensure text color is green */
  background-color: #000000; /* Ensure background color is black */
  animation: slideIn 0.2s ease;
  font-family: 'Courier New', Courier, monospace; /* Set monospaced font */
}

.message-content {
  width: 0;
  white-space: normal; /* Allow wrapping within the message content */
  overflow: hidden; /* Hide any content that overflows */
  animation: typing 2s steps(40, end) forwards;
  font-weight: bold;
}

.other-message .username {
  color: #00ff00;
  font-weight: bold;
  margin-right: 5px;
  display: inline;
}

.other-message .username::before {
  content: "C:\\";
  color: #00ff00;
}

.other-message .username::after {
  content: ">";
  color: #00ff00;
}


.message-timestamp {
  font-size: 12px;
  color: #00ff00;
  margin-top: 2px;
}